# OS
.DS_Store
Thumbs.db

# Python / MkDocs
.venv/
site/
*.log
.pytest_cache/
.python-version

# Node (future)
node_modules/

# Arduino build artifacts (if any)
*.hex
*.elf
*.bin

# Editors
.vscode/
.idea/